*{
	margin: 0;
	padding: 0;
}

body {
	background-color: black;
	font-family: sans-serif;
}

.all{
	margin: 0 auto;
	width: 1600px;
	text-align: center;
	position: relative;
}

#level_title {
	font-size: 35px;
	color: white;		
	font-weight: bold;
}

#level_image {
	width: 600px;
	height: 500px;
	float: right;
}



.verhaaltje{
	color: white;
	width: 200px;
}

button{
	width: 200px;
	height: 200px;
	background-color: rgba(0,0,0,0.6);
	color: white;
}

#option1{

}

#option2{
	display: none;
}

#option3{
	display: none;
}

.flexbox{
	display: flex;
	flex direction: row;
	flex-wrap: wrap;
	position: relative;
	margin: 0 auto;
	max-width: 1200px;
}

.buttonsflex{
	width: 200px;
}




#levels{
	position: absolute;
	
}


#levels2{
	position: absolute;
	top: 200px;
	
}

#key {
	position: absolute;
	top: 450px;
	left: 850px;
	z-index: 99;
	display: none;
}