*{
	margin: 0;
	padding: 0;
}

body {
	background-image: url(../img/universe.jpg);
	background-size: stretch;
	font-family: sans-serif;
}

.all{
	margin: 0 auto;
	width: 1600px;
	text-align: center;
	position: relative;
}

#level_title {
	font-size: 50px;
	color: white;		
	font-weight: bold;
	padding-top: 15px;
	padding-bottom: 15px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#level_image {
	width: 800px;
	height: 600px;
	float: right;
	border-radius: 20px;
	margin-right: 100px;
	margin-left: 100px;
}

#verhaaltje{
	color: white;
	width: 200px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

button{
	width: 200px;
	height: 200px;
	background-color: rgba(0,0,0,0.6);
	color: white;
	font-size: 30px;
	border-radius: 20px;
}

#option1{

}

#option2{
	display: none;
}

#option3{
	display: none;
}

.flexbox{
	display: flex;
	flex direction: row;
	flex-wrap: wrap;
	position: relative;
	margin: 0 auto;
	max-width: 1400px;
}

.buttonsflex{
	width: 200px;
}

#key {
	position: absolute;
	top: 620px;
	left: 1050px;
	z-index: 99;
	display: none;
}

#key2 {
	position: absolute;
	top: 360px;
	left: 500px;
	z-index: 99;
	display: none;
}

#key3 {
	position: absolute;
	top: 200px;
	left: 900px;
	z-index: 99;
	display: none;
}

#key4 {
	position: absolute;
	top: 150px;
	left: 1050px;
	z-index: 99;
	display: none;
}

#key5 {
	position: absolute;
	top: 580px;
	left: 500px;
	z-index: 99;
	display: none;
}

#key6 {
	position: absolute;
	top: 235px;
	left: 900px;
	z-index: 99;
	display: none;
}

#key7 {
	position: absolute;
	top: 280px;
	left: 450px;
	z-index: 99;
	display: none;
}

#key8 {
	position: absolute;
	top: 500px;
	left: 1250px;
	z-index: 99;
	display: none;
}

#falsekey9 {
	position: absolute;
	top: 500px;
	left: 420px;
	z-index: 99;
	display: none;
}

#falsekey10 {
	position: absolute;
	top: 280px;
	left: 420px;
	z-index: 99;
	display: none;
}

#key11 {
	position: absolute;
	top: 200px;
	left: 800px;
	z-index: 99;
	display: none;
}

#key12 {
	position: absolute;
	top: 600px;
	left: 400px;
	z-index: 99;
	display: none;
}

#key13 {
	position: absolute;
	top: 180px;
	left: 1000px;
	z-index: 99;
	display: none;
}

#key14 {
	position: absolute; 
	top: 120px;
	left: 1050px;
	z-index: 99;
	display: none;
}

#key15 {
	position: absolute;
	top: 500px;
	left: 1000px;
	z-index: 99;
	display: none;
}

#key16 {
	position: absolute;
	top: 150px;
	left: 420px;
	z-index: 99;
	display: none;
}

#optiondownload{
	display: none;
}

a{
	text-decoration: none;
}

